Package: com.Showfie.weixinPhoneBookAssist
Name: weixinPhoneBookAssist
Depends: mobilesubstrate
Version: 1.0.3
Architecture: iphoneos-arm
Description: Weixin Phonebook incoming calls auto popup just like cellular calls.
Maintainer: Chase Yee(chase.yee@gmail.com)
Author: Chase Yee(chase.yee@gmail.com)
Section: Tweaks
